/* Fonts */

$font: 'Lato';
$font-bold: 'Lato-Bold';
$font-italic: 'Lato-Italic';
$font-light: 'Lato-Light';
$red-dark: #542537;
$grey: #333333;
$grey-light: #787878;
$facebook-color: #3B5998;
$twitter-color: #1DA1F2;
$linkedin-color: #0077B5;