@import 'default';

.left-bar {
  background-color: $grey-double-light;
  width: 300px;
  min-height: 100%;
  position: absolute;

  /* DEV AREA  */

  .dev-area {
    width: 100%;
    text-align: center;
    input[type="radio"] {
      display: none;
      &:checked {
        + .box {
          background-color: $grey;
          span {
            color: #fff;
            transform: translateY(45px);
            font-family: $font-bold;
            &:before {
              transform: translateY(0px);
              opacity: 1;
            }
          }
        }
      }
    }
    .box {
      width: calc(150px - 2.5px);
      height: 150px;
      background-color: $grey-light;
      color: #fff;
      transition: all 250ms ease;
      will-change: transition;
      display: inline-block;
      text-align: center;
      cursor: pointer;
      position: relative;
      &:active {
        transform: translateY(5px);
      }
      &:hover{
        background-color: #5F5F5F;
      }
      span {
        position: absolute;
        transform: translate(0, 30px);
        left: 0;
        right: 0;
        transition: all 300ms ease;
        font-size: 1.5em;
        user-select: none;
        color: #fff;
        font-family: $font-light;
        font-weight: normal;
        &:before {
          font-size: 1.2em;
          font-family: $icon;
          display: block;
          transform: translateY(-80px);
          opacity: 0;
          transition: all 300ms ease-in-out;
          color: #fff;
        }
      }
    }
    .front-end {
      span {
        &:before {
          font-weight: normal;
          content: '\f121';
        }
      }
    }
    .back-end {
      span {
        &:before {
          font-weight: normal;
          content: '\f0f4';
        }
      }
    }
  }

  /* SKILLS */

  .skills{
    border-top: 1px solid #c6c6c6;
    width: 90%;
    margin: 10px auto;
    .wrapper{
      justify-content: space-between;
      .check-type{
        width: calc(120px - 20px);
      }
    }
    .btn-more-skills{
      margin: 10px auto;
      display: block;
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  /* REGIONS */
  .region{
    border-top: 1px solid #c6c6c6;
    width: 90%;
    margin: 10px auto;
    .wrapper{
      margin-top: 20px;
      margin-bottom: 20px;
      .select{
        width: 100%;
      }
      select{
        width: 100%;
        height: 40px;
        background-color: transparent;
        border: 1px solid $red-dark;
        border-radius: 2px;
        font-family:$font;
        outline: none;
        padding-left: 10px;
      }
    }
  }

  /* BUDGETS */
  .budget{
    border-top: 1px solid #c6c6c6;
    width: 90%;
    margin: 10px auto;
    .wrapper{
      .check-type{
        width: 100%;
      }
    }
  }


  /* GLOBALS */

  .wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .title-item{
    font-family: $font;
    color: $grey;
  }

  .wrapper{
    label{
      font-family: $font;
      font-weight: normal;
      color:$grey;
    }
  }

  .btn-filter{
    margin: 10px auto;
    display: block;
  }
}