@import 'default';

$heightDefault: 65px;

%menu-default-style {
  color: #fff;
  text-decoration: none;
  text-align: center;
  transition: all 150ms ease;
  font-size: .9em;
  &:before {
    font-family: $icon;
    display: block;
    font-size: 1.2em;
    transition: all 150ms ease;
  }
  &:hover,
  &.li-item-active{
    color: $yellow-light;
    &:before{
      transform: translateY(-2px);
    }
  }
  &:hover,
  &:visited,
  &:focus {
    background-color: transparent;
  }
}

@mixin generate-menu($iconMenu) {
  @extend %menu-default-style;
  &:before {
    content: '#{$iconMenu}';
  }
}

.header-site {
  height: $heightDefault;
  background-color: $red-dark;
  position: relative;
  > .container {
    .menu-top {
      .navbar-nav {
        float: right;
        li{
          height: $heightDefault;
          display: flex;
          align-items: center;
        }
        .li-item {
          margin-top: -1px;
          font-family: $font-light;
          transition: all 250ms ease;
          &:hover,
          &.li-item-active{
            background-color: #441E2C;
          }
          .projects {
            @include generate-menu('\f121');
          }
          .find-job {
            @include generate-menu('\f1e5');
          }
          .create-project{
            @include generate-menu('\f097');
          }
          .find-projects{
            @include generate-menu('\f0c9');
          }
          .messages {
            @include generate-menu('\f0e6');
          }
          .my-profile {
            @include generate-menu('\f007');
          }
          .sign-out{
            @include generate-menu('\f08b');
          }
        }
        .li-picture {
          margin-left: 15px;
          span{
            color: #fff;
            font-family: $font-light;
            .first-name{
              text-transform: uppercase;
            }
          }
          .profile-picture {
            height: 50px;
            width: 50px;
            margin-right: 10px;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px){
  %menu-default-style{
    &:before{
      display: inline-block;
      margin: 10px;
    }
  }
  .navbar-toggle{
    color: #fff;
    font-size: 2em;
    position: fixed;
    right: -3px;
    line-height: normal;
    cursor: pointer;
    transition: transform 200ms ease;
    &[aria-expanded="true"]{
      transform: rotate(90deg);
      .fa{
        &:before{
          content: '\f00d';
        }
      }
    }
  }
  .menu-top, .navbar-nav{
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .menu-top{
    position: fixed;
    top: $heightDefault;
    z-index: 999;
    .navbar-nav{
      background-color: $grey;
    }
  }
}