@import 'default';
@import 'header';

$height: 100%;
$width-aside: 250px;
$calc: calc(100% - #{$width-aside});
$margin-top: 10px;
$height-message: 50px;

%circle-image{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 8px;
  object-fit: cover;
}

%ballon{
  position: relative;
  max-width: 330px;
  min-height: 15px;
  padding: 10px;
  background: #d3cbcb;
  border-radius: 8px;
  margin: 10px 0 10px 35px;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  &:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent #d3cbcb;
    display: block;
    width: 0;
    z-index: 1;
    top: 10px;
  }
  figure{
    position: relative;
    height: 100%;
    img{
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }
  }
  .informations{
    display: flex;
    min-height: 40px;
    align-items: center;
    flex-wrap: wrap;
    p{
      max-width: 250px;
      width: 100%;
      margin: 0;
    }
    i{
      width: 100%;
    }
  }
}

@mixin ballon ($side) {
  @extend %ballon;
  float: $side;
  &:after {
    @if $side == left {
      border-width: 8px 10px 8px 0;
    } @else {
      border-width: 8px 0 8px 10px;
    }
    #{$side}: -10px;
  }
  img{
    @if $side == left {
      margin-right: 5px;
    } @else {
      margin-left: 5px;
    }
  }
}

.wrapper-all{
    position: fixed;
    height: 100%;
}

.wrapper {
  height: $height;
  background-color: #e1e1e1;
  display: block;
  margin: $margin-top auto;
  .content {
    position: relative;
    height: calc(100% - #{$heightDefault + $height-message + $margin-top});
    aside {
      height: $height;
      float: left;
      width: $width-aside;
      background-color: #d3cbcb;
      position: fixed;
      .contacts {
        height: 100%;
        overflow: auto;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
          width: 100%;
          height: 60px;
          background-color: $red-dark;
          margin-bottom: 1px;
          color: $grey-double-light;
          font-family: $font;
          transition: all 300ms ease-in-out;
          cursor: pointer;
          position: relative;
          &:hover {
            background-color: $grey;
            span:nth-child(2) {
              transform: translateX(5px);
            }
            .online {
              transform: translateY(-5px);
              &:after {
                content: 'ON';
                position: absolute;
                color: #74dc80;
                font-family: $font;
                right: -2px;
                bottom: -15px;
                font-size: .8em;
              }
            }
            .offline {
              transform: translateY(-5px);
              &:after {
                content: 'OFF';
                position: absolute;
                font-family: $font;
                color: #de696e;
                right: -3px;
                bottom: -15px;
                font-size: .8em;
              }
            }
          }
          .online {
            position: absolute;
            right: 10px;
            top: 23px;
            font-size: 0.8em;
            color: #74dc80;
            transition: all 200ms ease-in-out;
          }
          .offline {
            position: absolute;
            right: 10px;
            top: 23px;
            font-size: 0.8em;
            color: #de696e;
            transition: all 200ms ease-in-out;
          }
          img {
            @extend %circle-image;
          }
          span:nth-child(2) {
            position: absolute;
            left: 70px;
            line-height: 3;
            font-weight: 500;
            transition: all 200ms ease-in-out;
          }
          span:nth-child(3) {
            position: absolute;
            left: 70px;
            font-family: $font-italic;
            line-height: 6.8;
            font-size: .8em;
            color: #FFF;
          }
        }
      }
    }
    .messages-text {
      display: none;
      &:target{
        display: block;
      }
      h1 {
        transform: translate(35px, 10px);
        font-family: $font;
        color: #333232;
        margin: 0;
        &:after {
          content: '';
          width: 90%;
          height: 1px;
          background-color: #d3cbcb;
          position: absolute;
          left: 0;
          top: 50px;
        }
      }
      width: $calc;
      height: 100%;
      transform: translateX($width-aside);
      overflow-x: hidden;
      overflow-y: auto;
      .user-informations{
        margin-bottom: 30px;
      }
      .row {
        width: 100%;
        display: table;
        font-family: $font;
        color: #333232;
        font-size: 0.8em;
        .bubble-left {
          @include ballon(left);
        }
        .bubble-right {
          @include ballon(right);
        }
      }
    }
  }
}

.message {
  height: $height-message;
  position: relative;
  width: $calc;
  transform: translateX($width-aside);
  .new-message {
    width: 100%;
    height: $height-message;
    outline: none;
    border: none;
    padding-left: 10px;
    font-family: $font;
    color: #333232;
  }
  .send-message {
    position: absolute;
    right: 0;
    top: 0;
    background-color: $red-dark;
    color: $grey-double-light;
    border: none;
    outline: none;
    cursor: pointer;
    height: 100%;
    width: 70px;
    font-family: $font;
    transition: 400ms;
    z-index: 999;
  }
}

/* Scroll */
.messages-text::-webkit-scrollbar,
.contacts::-webkit-scrollbar{
  width: .5em;
}

.messages-text::-webkit-scrollbar-track,
.contacts::-webkit-scrollbar-track{
  background-color: rgba(206, 206, 206, 0.5);
}

.messages-text::-webkit-scrollbar-thumb,
.contacts::-webkit-scrollbar-thumb{
  background-color: #989494;
}

@media screen and (max-width: 768px){
  %ballon{
    margin: 40px 0 10px 35px !important;
    max-width: 60%;
    .informations{
      width: calc(100% - 30px);
    }
  }

  .content{
    height: calc(100% - 115px) !important;
  }
  .wrapper-all{
    width: 100%;
    padding: 0;
    margin: 0;
    margin-left: -15px;
  }
  .wrapper{
    margin: 0;
  }
  aside{
    transform: translateX(-265px);
  }
  .messages-text{
    width: 100% !important;
    transform: translateX(0) !important;
    .user-informations{
      text-align: center;
      .img-user-message{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
        margin: 10px auto;
      }
      h1{
        width: 100%;
        transform: translate(0) !important;
        margin: 5px auto;
        position: fixed;
        font-size: 1.5em;
        &:after{
          display: none;
        }
      }
    }
  }
  .message{
    transform: translateX(0) !important;
    width: 100%;
  }
}