@import 'default';

$widthDefault: 70px;

%style-aside-collapse{
  font-family: $icon;
  display: block;
  color: $red-dark;
  font-size: 1.5em;
}

@mixin generateRightItem ($icon){
  text-decoration: none;
  color: $red-dark;
  &:before{
    content: '#{$icon}';
    @extend %style-aside-collapse;
  }
}

.panel-group{
  background-color: white;
  padding: 15px;
  min-height: 700px;
  .panel{
    border-radius: 0;
    border-color: #FFF;
    .panel-heading{
      height: $widthDefault;
      display: flex;
      align-items: center;
      font-family: $font;
      background-color: $grey-double-light;
      color: $red-dark;
      cursor: pointer;
      padding: 0;
      position: relative;
      &:after{
        content: '\f106';
        font-family: $icon;
        color: $red-dark;
        position: absolute;
        right: 35px;
        font-size: 1.5em;
        transition: transform 200ms ease;
      }
      &.collapsed{
        &:after{
          transform: rotate(180deg);
        }
      }
      h4{
        font-size: 1.3em;
      }
      .status{
        width: $widthDefault;
        background-color: $red-dark;
        height: 100%;
        margin-right: 15px;
      }
    }
    .panel-collapse{
      .content{
        display: flex;
        justify-content: space-between;
        .bar-right{
          div{
            width: $widthDefault + 15px;
            height:auto;
            background-color: $grey-double-light;
            .collapse{ padding:0; }
            .itens{
              list-style-type: none;
              padding: 0;
              li{
                height: $widthDefault;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                flex-wrap: wrap;
                font-family: $font;
                transition: all 150ms ease;
                cursor: pointer;
                &:hover, &.active{
                  .item-set{
                    color: $grey-double-light;
                    &:before{
                      color: $grey-double-light;
                    }
                  }
                  background-color: $grey-light;
                }
              }
              .prazos{ @include generateRightItem('\f073'); }
              .projeto{ @include generateRightItem('\f121'); }
              .avaliacao{ @include generateRightItem('\f005'); }
              .time-line{ @include generateRightItem('\f0ae'); }
            }
          }
        }
      }
      .tab-content{
        position: relative;
        .projeto{
          .top-informations{
            height: 70px;
            margin-top: -10px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid $grey;
            span{
              font-family: $font;
            }
            .btn-circle{
              background-color: $red-dark;
              border-radius: 50%;
              color: #FFF;
              height: 40px;
              outline: none;
              transition: all 150ms ease;
              margin: 10px;
              display: flex;
              .fa{
                font-size: 1.3em;
              }
              &:hover{
                border: 1px solid $red-dark;
                color: $red-dark;
                background-color: #fff;
              }
            }
          }
        }
        .skills{
          margin-top: 20px;
          .skills-list{
            list-style-type: none;
            display: flex;
            margin-left: -10px;
            padding: 0;
            li{
              margin: 10px;
              height: 40px;
              width: auto;
              padding: 10px;
              background-color: $red-dark;
              color: #FFF;
              border-radius: 2px;
            }
          }
        }
        .description{
          p{
            margin-top: 15px;
          }
        }
      }
    }
  }
}