@import 'default';

$widthDefault: 70px;

%style-aside-collapse {
  font-family: $icon;
  display: block;
  color: $red-dark;
  font-size: 1.5em;
}

@mixin generateRightItem($icon) {
  text-decoration: none;
  color: $red-dark;
  &:before {
    content: '#{$icon}';
    @extend %style-aside-collapse;
  }
}

.noProjects {
  h3 {
    margin-bottom: 40px;
  }
}

.avaliation {
  width: 100%;
  outline: none;
  height: 100px;
  font-family: $font;
  padding: 5px;
  color: $red-dark;
}

.panel-group {
  background-color: white;
  padding: 15px;
  min-height: 700px;
  .panel {
    border-radius: 0;
    border-color: #FFF;
    .user-window {
      position: absolute;
      background-color: $grey;
      color: #FFF;
      width: 320px;
      height: 170px;
      display: none;
      z-index: 9999;
      left: 9%;
      top: -170px;
      filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, .5));
      &.open {
        display: flex;
      }
      &:after {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        bottom: -5px;
        background-color: $grey;
        left: 50%;
        transform: translateX(-15px) rotate(45deg);
        z-index: 0;
      }
      .informations {
        padding-right: 10px;
        width: 100%;
      }
      .name, .created {
        font-family: $font;
      }
      .finished {
        span {
          font-size: 1.2em;
        }
      }
      img {
        margin-right: 10px;
        width: 35%;
        height: 100%;
        object-fit: cover;
      }
      button {
        display: block;
        margin: 20px auto;
        width: 100%;
      }
    }
    .panel-heading {
      height: $widthDefault;
      display: flex;
      align-items: center;
      font-family: $font;
      background-color: $grey-double-light;
      color: $red-dark;
      cursor: pointer;
      padding: 0;
      position: relative;
      &:after {
        content: '\f106';
        font-family: $icon;
        color: $red-dark;
        position: absolute;
        right: 35px;
        font-size: 1.5em;
        transition: transform 200ms ease;
      }
      &.collapsed {
        &:after {
          transform: rotate(180deg);
        }
      }
      .panel-title {
        position: relative;
        font-size: 1.3em;
        &.late {
          &:after {
            content: '\f017';
            font-family: FontAwesome;
            position: absolute;
            right: -30px;
            top: 2px;
            color: #EC644B;
          }
        }
      }
      .status {
        width: $widthDefault;
        background-color: $red-dark;
        height: 100%;
        margin-right: 15px;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        .fa {
          display: block;
          font-size: 1.5em;
        }
        span {
          font-family: $font-light;
          font-size: .6em;
        }
      }
    }
    .panel-collapse {
      .content {
        display: flex;
        justify-content: space-between;
        .users-interested {
          padding: 0;
          margin-left: -15px;
          display: flex;
          li {
            width: 150px;
            min-height: 250px;
            display: flex;
            background-color: $grey-double-light;
            align-items: center;
            justify-content: center;
            margin: 3px;
            padding: 5px;
            text-align: center;
            transition: background-color 200ms ease;
            a {
              text-decoration: none;
            }
            button {
              font-size: 0.7em;
            }
            &:hover {
              color: #FFF;
              background-color: #1BBC9B;
              a {
                color: #FFF;
              }
              .name {
                color: #FFF;
              }
            }
            .stars {
              display: flex;
              justify-content: center;
              .fa {
                font-size: .9em;
                margin: 1px;
              }
            }
            img {
              height: 150px;
              object-fit: cover;
              width: 100%;
            }
            .name {
              color: $red-dark;
              font-size: 1em;
              font-family: $font-bold;
            }
            .type {
              font-size: .8em;
              font-family: $font-light;
            }
          }
        }
        .bar-right {
          div {
            width: $widthDefault + 15px;
            height: auto;
            background-color: $grey-double-light;
            .collapse {
              padding: 0;
            }
            .itens {
              list-style-type: none;
              padding: 0;
              li {
                height: $widthDefault;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                flex-wrap: wrap;
                font-family: $font;
                transition: all 150ms ease;
                cursor: pointer;
                &:hover, &.active {
                  .item-set {
                    color: $grey-double-light;
                    &:before {
                      transition: transform 250ms ease;
                      transform: rotateX(360deg);
                      color: $grey-double-light;
                    }
                  }
                  background-color: $grey-light;
                }
              }
              .prazos {
                @include generateRightItem('\f073');
              }
              .projeto {
                @include generateRightItem('\f121');
              }
              .avaliacao {
                @include generateRightItem('\f005');
              }
              .time-line {
                @include generateRightItem('\f0ae');
              }
              .interested {
                @include generateRightItem('\f2bd');
              }
            }
          }
        }
      }
      .tab-content {
        position: relative;
        .projeto {
          .top-informations {
            height: 70px;
            margin-top: -10px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid $grey;
            span {
              font-family: $font;
            }
            .btn-circle {
              background-color: $red-dark;
              border-radius: 5px;
              font-family: $font;
              color: #FFF;
              height: 40px;
              outline: none;
              transition: all 150ms ease;
              margin: 10px;
              display: flex;
              .fa {
                font-size: 1.3em;
              }
              &:hover {
                border: 1px solid $red-dark;
                color: $red-dark;
                background-color: #fff;
              }
            }
          }
        }
        .skills {
          margin-top: 20px;
          .skills-list {
            list-style-type: none;
            display: flex;
            margin-left: -10px;
            padding: 0;
            li {
              margin: 10px;
              height: 40px;
              width: auto;
              padding: 10px;
              background-color: $red-dark;
              color: #FFF;
              border-radius: 2px;
            }
          }
        }
        .description {
          p {
            margin-top: 15px;
          }
        }
      }
    }
  }
}

%clearfix {
  &:after, &:before {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }
}

.project-name {
  text-align: center;
  padding: 10px 0;
}

// Timeline
#timeline {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;

  &:before {
    content: "";
    width: 3px;
    height: 100%;
    background: $red-dark;
    left: 50%;
    top: 0;
    position: absolute;
  }

  &:after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
  }

  .timeline-item {
    margin-bottom: 50px;
    position: relative;
    @extend %clearfix;

    .timeline-icon {
      background: $red-dark;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 50%;
      overflow: hidden;
      margin-left: -23px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      .fa {
        color: #FFF;
        font-size: 1.6em;
      }
    }

    .timeline-content {
      width: 45%;
      background: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);

      h2 {
        padding: 15px;
        background: $red-dark;
        color: #fff;
        margin: -20px -20px 0 -20px;
        font-weight: 300;
        border-radius: 3px 3px 0 0;
        font-family: $font;
      }

      p {
        color: $grey;
        font-family: $font;
        margin-top: 10px;
      }

      &:before {
        content: '';
        position: absolute;
        left: 45%;
        top: 20px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 7px solid $red-dark;
      }

      &.right {
        float: right;

        &:before {
          content: '';
          right: 45%;
          left: inherit;
          border-left: 0;
          border-right: 7px solid $red-dark;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
    &:before {
      left: 0;
    }

    .timeline-item {
      .timeline-content {
        width: 90%;
        float: right;

        &:before, &.right:before {
          left: 10%;
          margin-left: -6px;
          border-left: 0;
          border-right: 7px solid $red-dark;
        }
      }

      .timeline-icon {
        left: 0;
      }
    }
  }
}

.fixed {
  color: #FFF !important;
  background-color: #1BBC9B !important;
  a {
    color: #FFF !important;
  }
  .name {
    color: #FFF !important;
  }
}