@import 'default';

%style-default-section{
  border-top: 1px solid $grey;
  width: 95%;
  margin: 10px auto;
  display: block;
  margin-top: 30px;
}

.title-section{
  font-family: $font;
  color: $grey;
  font-size: 1.3em;
}

.profile-informations{
  background-color: #fff;
  width: 250px;
  min-height: 100%;
  position: absolute;
  transition: transform 150ms ease;
  .div-scrollTop{
    position: relative;
    text-align: center;
    .img-user{
      width: 100%;
      min-height: 250px;
      object-fit: cover;
    }
    .name-user{
      font-family: $font;
      color: $red-dark;
      margin: 10px;
    }
    .description{
      font-family: $font-italic;
      color: $grey;
      margin: 15px;
    }
    .btn-edit{
      a{
        margin-top: 15px;
      }
    }
    .informations-user{
      .list-i{
        list-style-type: none;
        margin-top: 20px;
        padding: 0;
        font-family: $font;
        li{
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 10px;
          .fa{
            width: 30px;
            font-size: 1.5em;
          }
        }
      }
    }
  }
}

.content-wrapper{
  transform: translateX(-250px);
  background-color: #fff;
  min-height: 250px;
  .content{
    .complete-profile{
      padding: 20px;
      width: 100%;
      min-height: 350px;
      display: block;
      text-align: center;
      .message{
        position: relative;
        font-family: $font-light;
        font-size: 3em;
      }
      .progress{
        width: 350px;
        margin: 10px auto;
        display: block;
        height: 40px;
        .progress-bar{
          line-height: 2.1;
          font-family: $font;
          font-size: 1.3em;
          background-color: $grey;
        }
      }
      .btn-completar{
        margin: 40px;
      }
    }
    .projects{
      @extend %style-default-section;
    }
    .address{
      @extend %style-default-section;
    }
  }
}

@media screen and (max-width: 768px){
  aside{
    .btn-toggle{
      background-color: $grey;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 0;
      z-index: 999;
      transition: transform 150ms ease;
      &:hover, &:visited {
        text-decoration: none;
      }
      .fa{
        font-size: 1.5em;
        padding: 8px;
        justify-content: center;
        display: flex;
        color: #FFF;
        transition: transform 150ms ease;
      }
      &.open-drawer{
        transition: transform 150ms ease;
        transform: translateX(250px);
        .fa{
          transform: rotate(180deg);
        }
      }
    }
    .profile-informations{
      z-index: 100;
      transform: translateX(-270px);
      box-shadow: 0px 0px 5px;
      &.open-drawer{
        transform: translateX(0);
      }
    }
  }
  .container{ padding: 0; }
  .content-wrapper{
    transform: translateX(0);
    transition: transform 150ms ease;
    .content{
      .complete-profile{
        .progress{
          width: 100%;
        }
      }
    }
  }
}